.btn {
  font-size: 15px;
  font-weight: bold;
  border-radius: 3px;
  text-transform: uppercase;
  padding: 15px 30px;
}

.btn-primary {
  background-color: $color-white;
  border-color: $color-white;
  color: $brand-green;

  &:hover, &:focus, &:active {
    background-color: $brand-green;
    color: $color-white;
    border-color: $brand-green;
  }
}

.btn-default {
  background-color: transparent;
  border-color: $color-white;
  color: $color-white;

  &:hover, &:focus, &:active {
    background-color: $brand-green;
    color: $color-white;
    border-color: $brand-green;
  }
}

.btn-green {
  background-color: $brand-green;
  border-color: $brand-green;
  color: $color-white;

  &:hover, &:focus, &:active {
    background-color: $color-white;
    color: $brand-green;
    border-color: $brand-green;
  }
}
