$brand-green : #0d753c;
$color-grey : #f4f4f4;
$color-white : #fff;
$color-dark-grey : #222;

//breakpoints
$screen-lg : 1280px;
$screen-md : 1024px;
$screen-sm : 768px;
$screen-xs : 480px;

$screen-md-max: $screen-lg - 1;
$screen-sm-max: $screen-md - 1;
$screen-xs-max: $screen-sm - 1;

.h1  {
  font-size: 40px;
  line-height: 1.25;
}
.h4 {
  font-size: 22px;
  line-height: 30px;
}

.text-white {
  color: $color-white;
}
.text-bold {
  font-weight: bold;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}
.margin-top-20 {
  margin-top: 20px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.margin-top-30 {
  margin-top: 30px;
}
.margin-bottom-30 {
  margin-bottom: 30px;
}

iframe.video {
  -webkit-box-shadow: 0px 2px 39px 4px rgba(0,0,0,0.31);
  -moz-box-shadow: 0px 2px 39px 4px rgba(0,0,0,0.31);
  box-shadow: 0px 2px 39px 4px rgba(0,0,0,0.31);
  max-width: 436px;
  width: 100%;
  min-height: 245px;
}

iframe.donation-form {
  border: none;
}

.page-content hr {
  margin: 20px 0;
}

.vertical-align {
  display: flex;
  flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center;
  // justify-content: center;
}

.vertical-align > [class^="col-"] > div,
.vertical-align > [class*=" col-"] > div {
  /* flex: 1; */
  flex-grow: 1;
}

a.text-white:hover {
  color: $color-white;
  text-decoration: none;
}

a.text-underline {
  text-decoration: underline;
}

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
