header > * {
  vertical-align: middle;
}

header {
  background-color: $color-white;
  .container {
    height: 100px;
  }
  .logo {
    background-image: url('img/bitgive-logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 75px;
    width: 200px;
    position: relative;
    vertical-align: middle;
    margin-top: 12.5px;
    // @include vertical-align();
  }
  .logo-phrase {
    text-align: left;
    font-size: 15px;
    line-height: 24px;
    padding-top: 12.5px;

  }
  .social-logos {
    justify-content: center;
    a {
      display: inline-block;
      max-width: 50px;
      margin-right: 20px;
    }
  }
}

.blog-masthead, .navbar-default {
  background-color: $color-grey;
  border: none;
  margin: 0;
  @media (max-width: $screen-xs-max) {
    background-color: $color-white;
  }
}

.blog-nav {
  .navbar-collapse {
    padding: 0;
  }
  .navbar-brand {
      background-image: url('img/bitgive-logo.png');
      background-repeat: no-repeat;
      background-size: contain;
      width: 150px;
  }
   > .active {
     a {
       background-color: $color-white;
     }
     &:after {
      position: absolute;
      bottom: 4px;
      right: 0;
      width: 100%;
      content: " ";
      border-bottom: 2px solid $brand-green;
    }
   }
   .navbar-nav {
     margin: 0;
   }
  .navbar-nav > li {
    margin-right: 15px;
    color: $color-dark-grey;
    > a {
      padding: 15px 30px;
      font-size: 22px;
      color: inherit;

      &:hover, &:focus, &:active {
        color: $brand-green !important;
        &:after {
         position: absolute;
         bottom: 4px;
         right: 0;
         width: 100%;
         content: " ";
         border-bottom: 2px solid $brand-green;
       }
      }
    }
    .open > a {
      background-color: none;
    }
    &:first-child {
      background-color: $brand-green;
      color: $color-white;
      font-weight: bold;
      a {
        &:hover, &:focus, &:active {
          color: $color-grey !important;
        }
      }
    }
    .dropdown-menu {
      border: none;
      width: 100%;
      padding: 30px 0 20px 0;

      .active {
        &:after {
          border: none;
        }
      }
      > li > a {
        color: $color-dark-grey;
        padding: 0px 30px;
        font-size: 18px;
        margin-bottom: 20px;

        &:hover {
          color: $brand-green;
          background-color: inherit;
        }
      }
    }
  }
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: transparent;
  color: $color-dark-grey;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: $color-grey;
  color: $brand-green;
  &:after {
    position: absolute;
    bottom: 4px;
    right: 0;
    width: 100%;
    content: " ";
    border-bottom: 2px solid $brand-green;
  }
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  background-color: $color-white;
  color: $brand-green !important;
}

@media (max-width: $screen-md-max) {
  .blog-nav .navbar-nav li {
    margin: 0;
    a {
      padding: 15px 20px;
    }
  }
}

@media (max-width: $screen-sm-max) and (min-width: $screen-sm) {
  .blog-nav .navbar-nav li {
    a {
      padding: 15px 15px;
      font-size: 15px;
    }
  }
}
